          </div>
        </div>
    </div>
    </div>
  </div>

  
  <script src='/utils/js/sidebar.js'></script>
  <script src='/utils/js/framelayout.js'></script>
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js'></script>
  <script src='<%= basePath %>/framework/utils/js/moduloFormulas.js'></script>
  <script src='<%= basePath %>/framework/utils/js/moduloAnalisis.js'></script>
  <script src='<%= basePath %>/framework/utils/js/moduloPlantillas.js'></script>
  <script src='<%= basePath %>/framework/utils/js/moduloUsuario.js'></script>
  <script src='<%= basePath %>/framework/utils/js/moduloInicio.js'></script>

  <script src="<%= basePath %>/framework/utils/js/moduloTractores.js"></script> -->
</body>
</html>