<link href='<%= rutaBase %>src/framework/vistas/includes/componentes/moleculas/textoConIcono/textoConIcono.css' rel='stylesheet'/>

<div class="texto-con-icono-derecha">
    <%- include('../../atomos/icono/icono.ejs', { 
        nombre: icono?.nombre || 'home', 
        tamanio: icono?.tamano || '',
        color: icono?.color || '',
    }) %>
    <%- include('../../atomos/cuadroTexto/cuadroTexto.ejs', { 
        id: texto?.id || '',
        label: texto?.label || '',
        tamanio: texto?.tamano || '',
        color: texto?.color || '',
        fuente: texto?.fuente || '',
    }) %>
</div>

<div class="texto-con-icono-izquierda">
    <%- include('../../atomos/icono/icono.ejs', { 
        nombre: icono?.nombre || 'home', 
        tamanio: icono?.tamano || '',
        color: icono?.color || '',
    }) %>
    <%- include('../../atomos/cuadroTexto/cuadroTexto.ejs', { 
        id: texto?.id || '',
        textoInterior: texto?.textoInterior || '',
        tamanio: texto?.tamano || '',
        color: texto?.color || '',
        fuente: texto?.fuente || '',
    }) %>
</div>

<% /*
  Parámetros esperados (ejemplos):
  - icono: {
      nombre: 'home',
      tamano: 'icono-lg',
      color: 'icono-negro'
    }
  - texto: {
      id: 'textoInicio',
      textoInterior: 'Inicio',
      tamano: 'texto-lg',
      color: 'texto-negro',
      fuente: 'fuente-regular'
    }
*/ %>
