<%- include ('../../includes/encabezado.ejs')%>

<head>
    <link href='<%= rutaBase %>src/framework/utils/css/paginas/plantillas/moduloPlantillas.css' rel='stylesheet' />
</head>

<div class='frame-plantillas' id='contenedorId'>

    </div>

    <dialog id='modalVizualizador' class='modal-borrar' >
        <form method='dialog'>
            <div class='previsualizador-maximizado'>
                <div class='maximizado-nombre-plantilla'>
                  <div class='nombre-plantilla' id='Titulo-Maximisado'>Nombre de plantilla</div>
                </div>

                <scroll-container id='Scroll' class='seccion-preview-grafica-preview'>

              </scroll-container>

                <div class='botones-fondo'>
                  <div class='botones-ediar-eliminar'>
                    <button class='btn-editar' id='boton_editar_Visualizador'>
                      <img class='editar-maximizado' src='<%= rutaBase %>src/framework/utils/iconos/Editar2.svg' />
                      <div class='editar-maximizaddo'>Editar</div>
                    </button>
                    <button class='btn-eliminar' id='boton_eliminar_Visualizador'>
                      <img class='eliminar-maximizado' src='<%= rutaBase %>src/framework/utils/iconos/BasuraBlanca.svg'/>
                      <div class='eliminar-maximizado2'>Eliminar</div>
                    </button>
                  </div>
                  <div class='botones-usar-cancelar'>
                    <button class='btn-usar'>
                      <div class='uasr-maximizado'>Usar</div>
                    </button>
                    <button class='btn-cancelar'>
                      <div class='cancelar-maximizado'>Cancelar</div>
                    </button>
                  </div>
                </div>
              </div>
              
              
          </form>
      </dialog>

      <script src='<%= rutaBase %>src/framework/utils/scripts/paginas/plantillas/moduloPlantillas.js'></script>

<%- include ('../../includes/piePagina.ejs')%>