<%- include ('../../includes/encabezado.ejs')%>

<head>
    <link href='<%= rutaBase %>src/framework/utils/css/paginas/inicio/inicio.css' rel='stylesheet' />
</head>
  <div class='frame-principal-inicio'>
      <div class='frame-excel'>
          <div class='usar-excel'>
            <div class='texto-usar-excel'>Usar Excel</div>
            <img class='FolderPlusRojo' src='<%= rutaBase %>src/framework/utils/iconos/FolderMasRojo.svg' />
            <div class='nombre-archivo'>
              <div class='texto-archivo'>Sin Archivo Seleccionado</div>
                <button id='boton-borrar' class='boton-borrar'>
                  <img class='borrar' src='<%= rutaBase %>src/framework/utils/iconos/X.svg' />
                </button>
            </div>
            <label class='cargar'>
              <input type='file' accept='.xlsx' class='cargar-excel' />
              <div class='texto-cargar'>Cargar Archivo</div>
            </label>
            <button disabled class='avanzar-analisis'>
              <div class='texto-avanzar'>Analizar documento</div>
              <img class='arrow-back' src='<%= rutaBase %>src/framework/utils/iconos/FlechaAtras.svg' />
            </button>
            <%- include('../../includes/componentes/atomos/cuadroTexto/cuadroTexto.ejs', {id: 'cuadroTexto', textoInterior: 'Tamaño máximo de 10 MB.', alinear: 'centro', color: 'texto-rojo'}) %>
          </div>
      </div>
    </div>
    <script src='<%= rutaBase %>src/framework/utils/scripts/paginas/inicio/seleccionarArchivo.js'></script>

<%- include('../../includes/componentes/moleculas/botonTextoConIcono/botonTextoConIcono.ejs', { idBoton: 'eliminar', color: 'rojo', configElementos: { nombreIcono: 'Delete', textoInterior: 'Eliminar',direccion: 'derecha', tamano: 'lg'}}) %>
<%- include ('../../includes/piePagina.ejs')%>
