<div class="tarjeta-texto">
    <%- include('../moleculas/menuDesplegable.ejs', {
        opciones: ['Titulo', 'Subtitulo' , 'Contenido' ],
        icono: basePath + '/framework/utils/iconos/Texto.svg',
    }) %>
    <%- include('../moleculas/textareaContador.ejs', {
        placeholder: 'Escribe aquí tu contenido...',
        maxLength: 1000,
    }) %>
    <div class='botones-editar-eliminar'>
        <%- include('../atomos/botonTransparente.ejs', { icono: basePath + '/framework/utils/iconos/Basura.svg', texto: 'Eliminar' }) %>
        <div class='divisor'></div>
        <%- include('../atomos/botonTransparente.ejs', { icono: basePath + '/framework/utils/iconos/Menu.svg', texto: 'Alinear' }) %>
    </div>
</div>

<div class="tarjeta-texto">
    <div class='titulo-texto'>
        <select class='tipo-texto'>
            <option value='titulo'>Título</option>
            <option value='subtitulo'>Subtítulo</option>
            <option value='contenido'>Contenido</option>
        </select>
        <img class='type' src='../../../../utils/iconos/Texto.svg' alt='Icono Texto' />
    </div>
    <textarea class='area-escritura' placeholder='Escribe aquí tu contenido...' maxlength='1000'></textarea>
    <style>
        .contador-caracteres {
            font-size: 12px;
            text-align: right;
            color: #7f8c8d;
            margin: 4px 0;
            padding-right: 4px;
        }
    </style>
    <div class='botones-editar-eliminar'>
        <div class='eliminar'>
            <img class='eliminar-icono' src='<%= basePath %>/framework/utils/iconos/Basura.svg' alt='Eliminar' />
            <div class='texto-eliminar'>Eliminar</div>
        </div>
        <div class='divisor'></div>
        <div class='alinear'>
            <div class='icono-align align-left'><span></span><span></span><span></span></div>
            <div class='texto-editar'>Alinear</div>
        </div>
    </div>
</div>
