<link href='<%= rutaBase %>src/framework/vistas/includes/componentes/atomos/tarjeta/tarjeta.css' rel='stylesheet' />
<div class="tarjeta tarjeta-<%= color%> <%= alinear %> <%= orientacion %>" id="<%= id %>">
    <% elementos.forEach((elemento) => { %>
        <%-include(elemento.ruta, elemento?.parametros)%>
    <% }) %>
</div>

<% /*
Nombres de colores válidos:
    - gris
    - blanco
    - azul

Parámetros:
    - id: 'tarjeta'
    - color: 'gris'
    - alinear: 'centro'
    - orientacion: 'fila'
    - elementos: [{
        ruta: '../../atomos/boton/boton.ejs'
        parametros: {
            etiqueta: 'Enviar',
            tipo: 'primario',
            id: 'boton'
        }
    }]

*/ %>