<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Cargando...</title>
    <link rel='stylesheet' href='<%= rutaBase %>src/framework/utils/css/pantallaCarga.css'>
</head>
    <body>
        <%- include('../includes/componentes/moleculas/textoConIcono/textoConIcono.ejs', {
            icono: {
                nombre: 'home',
                tamanio: 'icono-lg',
                color: 'icono-negro'
              },
              texto: {
                id: 'textoInicio',
                textoInterior: 'Inicio',
                tamanio: 'texto-lg',
                color: 'texto-negro',
                fuente: 'fuente-regular'
              }
        }) %>
        <%- include('../includes/componentes/atomos/cuadroTexto/cuadroTexto.ejs', { 
            id: 'cuadroEjemplo',
            textoInterior: '¡Hola mundo!',
            tamanio: 'texto-lg',
            color: 'texto-azul',
            fuente: 'fuente-regular',
        })%>
        <%- include('../includes/componentes/moleculas/grupoBotones/grupoBotones.ejs', { 
            orientacion: 'horizontal',
            botones: [
                { id: 'btnAceptar', label: 'Aceptar', type: 'primario', tamanio: 'btn-lg' },
                { id: 'btnCancelar', label: 'Cancelar', type: 'secundario', tamanio: 'btn-lg' },
                { id: 'btnDesabilitado', label: 'Desabilitado', type: 'terciario', tamanio: 'btn-lg' },
            ]
        })%>
        <%- include('../includes/componentes/moleculas/grupoBotones/grupoBotones.ejs', { 
            orientacion: 'vertical',
            botones: [
                { id: 'btnAceptar1', label: 'Aceptar', type: 'primario', tamanio: 'btn-lg' },
                { id: 'btnCancelar1', label: 'Cancelar', type: 'secundario', tamanio: 'btn-lg' },
                { id: 'btnDesabilitado1', label: 'Desabilitado', type: 'terciario', tamanio: 'btn-lg' },
            ]
        })%>
        <%- include('../includes/componentes/atomos/campoTexto/campoTexto.ejs', { 
        label: 'Nombre del usuario', 
        type: 'text', 
        id: 'username', 
        name: 'username', 
        placeholder: 'Nombre del nuevo usuario',
        maxlength: '55',
        required: true,
        errorId: 'mensajeErrorNombre'
        }) %>    
    </body>
</html>