<%- include ('../../includes/encabezado.ejs')%>

<head>
  <link rel="stylesheet" href="<%= rutaBase %>src/framework/utils/css/paginas/analisis/generarReporte.css">
  <link rel="stylesheet" href="<%= rutaBase %>src/framework/utils/css/paginas/plantillas/plantillas.css">
</head>
  <div class="frame-plantillas">
    <div class="frame-plantillas-izquierda">
        <select class="selector-plantilla" name="plantilla" id="plantilla-seleccionada">
          <option value="volvo">Reporte 1</option>
          <option value="saab">Reporte gasolina</option>
          <option value="mercedes">Reporte de velocidad</option>
          <option value="audi">Reporte 2</option>
        </select>
        <button id="cargarPlantilla" class="boton-principal">
          <span>Cargar Plantilla</span>
        </button>
        <button id="eliminarPlantilla" class="boton-secundario">
          <span>Eliminar Plantilla</span>
        </button>
      </div>
      <div class="frame-plantillas-derecha">
        <input type="text" id="nombrePlantilla" placeholder="Nombre de la plantilla" class="input-nombre-plantilla">
        <button id="guardarPlantilla" class="boton-principal">
          <span>Guardar Plantilla</span>
        </button>
      </div>
  </div> 


  <div class="frame-analisis">

    <!-- Sección de agregados y acciones -->
    <section class="seccion-elemento-reporte">
      <div class="seccion-contenido" id="contenedorElementos"></div>
      <div class="contenedor-botones-acciones">
        <button id="descargarPDF" class="boton-agregar">
          <img class="icono-agregar" src="<%= rutaBase %>src/framework/utils/iconos/PDF.svg" alt="PDF">
          <span>Descargar PDF</span>
        </button>
      </div>
    </section>

    <!-- Vista previa del reporte -->
    <section class="seccion-previsualizacion-grafica" id="previsualizacion">
      <h2 class="preview-header">Vista previa del reporte</h2>
      <div id="contenedor-elementos-previsualizacion" class="contenedor-elementos-previsualizacion"></div>
    </section>
  </div>
  
  <script src='<%= rutaBase %>src/framework/utils/scripts/paginas/analisis/moduloAnalisis.js'></script>

<%- include ('../../includes/piePagina.ejs')%>