<%- include ('../../includes/encabezado.ejs')%>

<head>
  <link rel="stylesheet" href="<%= rutaBase %>src/framework/utils/css/paginas/analisis/generarReporte.css">
</head>
  <div class="frame-analisis">

    <!-- Sección de agregados y acciones -->
    <section class="seccion-elemento-reporte">
      <div class="seccion-contenido" id="contenedorElementos"></div>
      <div class="contenedor-botones-acciones">
        <button id="descargarPDF" class="boton-agregar">
          <img class="icono-agregar" src="<%= rutaBase %>src/framework/utils/iconos/PDF.svg" alt="PDF">
          <span>Descargar PDF</span>
        </button>
        <button id="guardarPlantilla" class="boton-agregar">
          <img class="icono-agregar" src="<%= rutaBase %>src/framework/utils/iconos/Portapapeles.svg" alt="Plantilla">
          <span>Guardar plantilla</span>
        </button>
      </div>
    </section>

    <!-- Vista previa del reporte -->
    <section class="seccion-previsualizacion-grafica" id="previsualizacion">
      <h2 class="preview-header">Vista previa del reporte</h2>
      <div id="contenedor-elementos-previsualizacion" class="contenedor-elementos-previsualizacion"></div>
    </section>
  </div>
  
  <script src='<%= rutaBase %>src/framework/utils/scripts/paginas/analisis/moduloAnalisis.js'></script>

<%- include ('../../includes/piePagina.ejs')%>