<%- include ('../../includes/encabezado.ejs')%>

<head>
    <link href='<%= rutaBase %>src/framework/utils/css/paginas/inicio/moduloTractores.css' rel='stylesheet' />
</head>

<body>
  <div class='modulo'>
    <div class='datos'>
      <div class='distribuidor'>
        <div class='secundario'>
          <input id='buscador-distribuidor' type='text' class='texto-busqueda' placeholder='Buscar distribuidor' />
          <img class='icon' src='<%= rutaBase %>src/framework/utils/iconos/Buscar.svg' />
          <div class='resultado-busqueda'>
            <!-- Aquí podrían aparecer los resultados de búsqueda -->
          </div>
        </div>

        <div class='distribuidores-contenido'>
          <div class='rancho'>
            <div class='caja-rancho-texto'>
              <div class='rancho-texto'>Black</div>
            </div>
            <img class='check-box' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
          </div>
          <div class='rancho'>
            <div class='caja-rancho-texto'>
              <div class='rancho-texto'>Equipos y tractores del bajío</div>
            </div>
            <img class='check-box' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
          </div>
          <div class='rancho'>
            <div class='caja-rancho-texto'>
              <div class='rancho-texto'>Madisa</div>
            </div>
            <img class='check-box' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
          </div>
          <div class='rancho'>
            <div class='caja-rancho-texto'>
              <div class='rancho-texto'>Bravado</div>
            </div>
            <img class='check-box' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
          </div>
        </div>
      </div>

      <div class='filtros'>
        <div id='botonFiltroCon' class='rancho'>
          <div class='rancho-texto'>Con telemetría</div>
          <img class='check-box2' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
        </div>
        <div id='botonFiltroSin' class='rancho'>
          <div class='rancho-texto'>Sin telemetría</div>
          <img class='check-box-outline-blank4' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
        </div>
      </div>

      <div id='contenedorTractores' class='tractores'>
        <div class='secundario'>
          <input id='buscadorTractor' type='text' class='texto-busqueda' placeholder='Buscar tractor' maxlength="60" />
          <img class='icon' src='<%= rutaBase %>src/framework/utils/iconos/Buscar.svg' />
          <div class='resultado-busqueda'>
            <!-- Aquí podrían aparecer los resultados de búsqueda -->
          </div>
        </div>
        <div class='tractores-contenido'>
          <div class='rancho'>
            <div class='caja-rancho-texto'>
              <div class='rancho-texto'>Tractor 1</div>
            </div>
            <img class='check-box' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
          </div>
          <div class='rancho'>
            <div class='caja-rancho-texto'>
              <div class='rancho-texto'>Tractor 2</div>
            </div>
            <img class='check-box' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
          </div>
          <div class='rancho'>
            <div class='caja-rancho-texto'>
              <div class='rancho-texto'>Tractor 3</div>
            </div>
            <img class='check-box' src='<%= rutaBase %>src/framework/utils/iconos/check_box_outline_blank.svg' />
          </div>
        </div>
      </div>
      <div id='contenedorColumnas' class='columnas'>
        <div class='columnas-contenido'>
          <div class='columna-nombre'>
          </div>
        </div>
      </div>
    </div>

    <div class='generar-reporte'>
      <div class='primario'>
        <div class='generar-reporte2'>Generar reporte</div>
      </div>
    </div>
  </div>
  <script src='<%= rutaBase %>src/framework/utils/scripts/paginas/inicio/moduloTractores.js'></script>

<%- include ('../../includes/piePagina.ejs')%>